<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bicycle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Userlist</display-name>
    <servlet-name>Userlist</servlet-name>
    <servlet-class>cn.whxlover.web.Userlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlist</servlet-name>
    <url-pattern>/userlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>study</display-name>
    <servlet-name>study</servlet-name>
    <servlet-class>cn.whxlover.web.study</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>study</servlet-name>
    <url-pattern>/study</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Academy</display-name>
    <servlet-name>Academy</servlet-name>
    <servlet-class>cn.whxlover.web.Academy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Academy</servlet-name>
    <url-pattern>/academy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>cn.whxlover.web.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminList</display-name>
    <servlet-name>adminList</servlet-name>
    <servlet-class>cn.whxlover.web.adminList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminList</servlet-name>
    <url-pattern>/adminlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quitservlet</display-name>
    <servlet-name>Quitservlet</servlet-name>
    <servlet-class>cn.whxlover.web.Quitservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quitservlet</servlet-name>
    <url-pattern>/quitservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Register_ready</servlet-name>
    <servlet-class>cn.whxlover.web.Register_ready</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_ready</servlet-name>
    <url-pattern>/register_ready</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>cn.whxlover.web.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkStu_number</display-name>
    <servlet-name>checkStu_number</servlet-name>
    <servlet-class>cn.whxlover.web.checkStu_number</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkStu_number</servlet-name>
    <url-pattern>/checkstu_number</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_add</display-name>
    <servlet-name>User_add</servlet-name>
    <servlet-class>cn.whxlover.web.User_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_add</servlet-name>
    <url-pattern>/user_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ys_add</display-name>
    <servlet-name>ys_add</servlet-name>
    <servlet-class>cn.whxlover.web.ys_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ys_add</servlet-name>
    <url-pattern>/ys_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ys_edit</display-name>
    <servlet-name>ys_edit</servlet-name>
    <servlet-class>cn.whxlover.web.ys_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ys_edit</servlet-name>
    <url-pattern>/ys_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>type</display-name>
    <servlet-name>type</servlet-name>
    <servlet-class>cn.whxlover.web.type</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>type</servlet-name>
    <url-pattern>/type</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>type_add</display-name>
    <servlet-name>type_add</servlet-name>
    <servlet-class>cn.whxlover.web.type_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>type_add</servlet-name>
    <url-pattern>/type_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>type_edit</display-name>
    <servlet-name>type_edit</servlet-name>
    <servlet-class>cn.whxlover.web.type_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>type_edit</servlet-name>
    <url-pattern>/type_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_manage_edit</display-name>
    <servlet-name>user_manage_edit</servlet-name>
    <servlet-class>cn.whxlover.web.user_manage_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_manage_edit</servlet-name>
    <url-pattern>/user_manage_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_edit</display-name>
    <servlet-name>user_edit</servlet-name>
    <servlet-class>cn.whxlover.web.user_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_edit</servlet-name>
    <url-pattern>/user_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>role_add</display-name>
    <servlet-name>role_add</servlet-name>
    <servlet-class>cn.whxlover.web.role_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>role_add</servlet-name>
    <url-pattern>/role_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rentlist</display-name>
    <servlet-name>rentlist</servlet-name>
    <servlet-class>cn.whxlover.web.rentlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rentlist</servlet-name>
    <url-pattern>/rentlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rent_add</display-name>
    <servlet-name>rent_add</servlet-name>
    <servlet-class>cn.whxlover.web.rent_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rent_add</servlet-name>
    <url-pattern>/rent_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addComment</display-name>
    <servlet-name>addComment</servlet-name>
    <servlet-class>cn.whxlover.web.addComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addComment</servlet-name>
    <url-pattern>/addComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detail</display-name>
    <servlet-name>detail</servlet-name>
    <servlet-class>cn.whxlover.web.detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>replyComment</display-name>
    <servlet-name>replyComment</servlet-name>
    <servlet-class>cn.whxlover.web.replyComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replyComment</servlet-name>
    <url-pattern>/replyComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_editt</display-name>
    <servlet-name>user_editt</servlet-name>
    <servlet-class>cn.whxlover.web.user_editt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_editt</servlet-name>
    <url-pattern>/user_editt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mybbs</display-name>
    <servlet-name>mybbs</servlet-name>
    <servlet-class>cn.whxlover.web.mybbs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mybbs</servlet-name>
    <url-pattern>/mybbs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteRent</display-name>
    <servlet-name>deleteRent</servlet-name>
    <servlet-class>cn.whxlover.web.deleteRent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteRent</servlet-name>
    <url-pattern>/deleteRent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>cn.whxlover.web.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lostfoundlist</display-name>
    <servlet-name>lostfoundlist</servlet-name>
    <servlet-class>cn.whxlover.web.lostfoundlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lostfoundlist</servlet-name>
    <url-pattern>/lostfoundlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lostfound_add</display-name>
    <servlet-name>lostfound_add</servlet-name>
    <servlet-class>cn.whxlover.web.lostfound_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lostfound_add</servlet-name>
    <url-pattern>/lostfound_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailLost</display-name>
    <servlet-name>detailLost</servlet-name>
    <servlet-class>cn.whxlover.web.detailLost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailLost</servlet-name>
    <url-pattern>/detailLost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>replylostcomment</display-name>
    <servlet-name>replylostcomment</servlet-name>
    <servlet-class>cn.whxlover.web.replylostcomment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replylostcomment</servlet-name>
    <url-pattern>/replylostcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addlostcomment</display-name>
    <servlet-name>addlostcomment</servlet-name>
    <servlet-class>cn.whxlover.web.addlostcomment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addlostcomment</servlet-name>
    <url-pattern>/addlostcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mybbslost</display-name>
    <servlet-name>mybbslost</servlet-name>
    <servlet-class>cn.whxlover.web.mybbslost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mybbslost</servlet-name>
    <url-pattern>/mybbslost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mybbslost2</display-name>
    <servlet-name>mybbslost2</servlet-name>
    <servlet-class>cn.whxlover.web.mybbslost2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mybbslost2</servlet-name>
    <url-pattern>/mybbslost2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletelost</display-name>
    <servlet-name>deletelost</servlet-name>
    <servlet-class>cn.whxlover.web.deletelost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletelost</servlet-name>
    <url-pattern>/deletelost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>matchlist</display-name>
    <servlet-name>matchlist</servlet-name>
    <servlet-class>cn.whxlover.web.matchlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matchlist</servlet-name>
    <url-pattern>/matchlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>match_add</display-name>
    <servlet-name>match_add</servlet-name>
    <servlet-class>cn.whxlover.web.match_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>match_add</servlet-name>
    <url-pattern>/match_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>matchdetail</display-name>
    <servlet-name>matchdetail</servlet-name>
    <servlet-class>cn.whxlover.web.matchdetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matchdetail</servlet-name>
    <url-pattern>/matchdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>matchlist2</display-name>
    <servlet-name>matchlist2</servlet-name>
    <servlet-class>cn.whxlover.web.matchlist2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matchlist2</servlet-name>
    <url-pattern>/matchlist2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SimpleCaptcha</servlet-name>
  	<servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
  	<init-param>
  		<param-name>height</param-name>
  		<param-value>250</param-value>
  	</init-param>
  	<init-param>
  		<param-name>width</param-name>
  		<param-value>75</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SimpleCaptcha</servlet-name>
  	<url-pattern>/admin/get_captcha</url-pattern>
  </servlet-mapping>
  
</web-app>